<div class="information">
	<div class="information-content">
		<div class= "green-div"></div>
		<div class="green-div-text">
			<h3>Save Money, Do Good ... Together</h3>
		</div>
		<div class= "green-div"></div>
		<p>Welcome to the Community Purchasing Alliances' Member and Associated Recommend Vendor List - also known as MARVL. MARVL allows members to see suggested vendors, leave reviews for vendors based on your experience, as well as a place to discuss general questions.</p>
	</div>
</div>
<%= render(partial: '/shared/login', locals: { obj: @user }) %>
<center>
<p>Not a Member? <%= link_to "Create an Account", new_user_path %></p>
</center<