<div class="information">
	<div class="information-content">
		<%# image_tag 'http://www.cpa.coop/wp-content/themes/cpa_wp2015/assets/images/cpa_logo_oneline.png', class: "cpa-logo" %>
		<div class= "green-div"></div>
		<div class="green-div-text">
			<h3>Member and Associate Recommended Vendor List</h3>
		</div>
		<div class= "green-div"></div>
		<p>Welcome to MARVL - the Community Purchasing Alliances' Member and Associate Recommended Vendor List.  MARVL allows members to see suggested vendors, leave reviews for vendors based on your experience, as well as a place to discuss general questions.</p>
	</div>
</div>

<div class="blue-light">
<% unless logged_in? %>
	<%= render(partial: '/shared/login', locals: { obj: @user }) %>
	<center>
	<p>Not a Member? <%= link_to "Create an Account", new_user_path %></p>
	</center>
<% end %>
</div>

<div id="sample">
	<div id="ambassador-list">
		<a href="/ambassadors">
		<%# image_tag 'http://cpa.coop/wp-content/uploads/2015/06/CPA_Step1.png', class: "sample-logo" %>
		</a>
		<p>Have Questions? Our membership ambassadors are happy to help!</p>
	</div>
	<div id="vendor-list">
		<a href="/samplevendors">
			<%# image_tag 'http://cpa.coop/wp-content/uploads/2015/06/CPA_Step2_V2.png', class: "sample-logo" %>
		</a>
		<p>See a sampling of our vendors</p>
	</div>
	<div id="vendor-list">
		<a href="http://www.cpa.coop">
			<%# image_tag 'CPA_PeopleCircle.png', class: "sample-logo" %>
		</a>
		<p>View Community Purchasing Alliance homepage</p>
	</div>
</div>