<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A Review was Flagged on MARVL</h1>
    <p>
      Please login <%= link_to "here", @url %> to resolve this flag. 
    </p>
  </body>
</html>