<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MARVL <%= @user.full_name %>!</h1>
    <p>
      We are super pumped that you are here!  Don't just sit there - Get in there and learn about awesome vendors!  Share your experiences with local businesses!
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to "Login", @url %>.
    </p>
    <p>Thank you for joining!</p>
  </body>
</html>