<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MARVL <%= @user.full_name %>!</h1>
    <p>
      We are grateful that you are here.  
    </p>
    <p>
      Now get in there and build our collective knowledge!  Let's hold lousy vendors accountable!  Let's share stories about awesome local businesses!  
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to "Login", @url %>.
    </p>
    <p>Huzzah!</p>
    <p><strong>strongTeam CPA</strong></p>
  </body>
</html>