<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MARVL <%= @user.name %></h1>
    <p>
      An administrator has approved your membership request. You now have full access to vender reviews and member profiles
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thank you for joining!</p>
  </body>
</html>