<center>
	<h1>Add a New Vendor</h1>
</center>

  <%= form_for @vendor, html: {class: "form-group"} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.submit "Submit Vendor" %> 
  <% end %>