<br>
<br>
<center>
<div id="page-wrap">

	<h1>Become an Ambassador</h1>

	<p>By becoming an ambassador, your name, email address and organization will be available to non-members. Individuals who are considering joining CPA can reach out to you with any questions they might have. </p>

	<h3>Would you like to be listed as an ambassador with CPA?</h3>
</div>
</center>
<%= form_for @roles, html: {class: "form-group"} do |f| %>
  <%= f.submit "Yes, Sign Me Up" %>
<% end %>
