
<center>
  <h1><%= link_to 'marvl forum', forum_path %></h1>

  <p>
    Welcome to the forum! Here, CPA admins post helpful information from around the community.
  </p>

  <% if admin? %>
    <%= link_to "Write a new post", new_post_path %>
  <% end %>

  <br><br>
</center>

  <div class="posts">
    <%= render "shared/forum_posts", locals: { posts: @posts } %>
  </div>
