/* ...
*= require_self
*= require_tree .
*/


@font-face {
  font-family: "Big John";
  src: font-url('BigJohn.otf') format("opentype");
}

.reviews {
	/*reviews on the user page are tagged with this div class*/
}

.alert {
	/*div tag for errors / flash notices*/
}

.form-group {
	/*form tag*/
}
