<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

  <div style="border: 1px solid black;
              border-radius: 10px;
              padding: 20px;
              background-color: #EAF2FA">

    <h2>PASSWORD RESET INSTRUCTIONS FROM WWW.MARVL.ORG</h2>

    <h4>Hello <%= @resource.email %>!</h4>

    <h4>A link was requested to change the password on your www.marvl.org account. You can follow the link below to change your password.</h4>

    <h4><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></h4>

    <h4>If you didn't request this link, please ignore this email.</h4>

    <h4>Your password won't change until you access the link above and create a new one.</h4>

    <h4>Thanks,</h4>

    <h4>Team MARVL</h4>

  </div>

  <div style='background-image: url("www.cpa.coop/wp-content/themes/cpa_wp2015/assets/images/cpa_logo_stacked.png")'>
  </div>

  </body>
</html>


