

<div class="brand">
  <%# owl icon %>
  <%= image_tag('marvlowl.svg') %>
  <h2>MARVL</h2> <%# linkify this %>
</div>

<h4>Hello <%= @resource.email %>!</h4>

<h4>Someone has requested a link to change your password. You can do this through the link below.</h4>

<h4><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></h4>

<h4>If you didn't request this, please ignore this email.</h4>
<h4>Your password won't change until you access the link above and create a new one.</h4>
