	<div class = "individual-review">
      <%= render "shared/list_single_review", locals: { review: @review} %>
	</div>
  <br>

<script type="text/javascript">
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
