<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div>
      <h3>Check out this interactive map of all the CPA Members!</h3>
    </div>
    <div id="map"></div>

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAPS_TOKEN"]%>&v=3&callback=initMap">
    </script>

  </body>
</html>