<!DOCTYPE html>
<html>
  <head>
    <title>Marvl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="nav">
        <div class="left">
          <%# owl icon %>
          <h2 class="brand">MARVL</h2> <%# linkify this %>
        </div>
        <div class="right">
          <%# login/logout logic %>
        </div>
      </div>
    <%= yield %>
    </div>
  </body>
</html>
